@use "../../assets/sass/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-screen {
  height: auto;
  width: 2000px;
  padding-bottom: 40px;
  border: solid 40px $color-light-grey;
  display: flex;
  flex-direction: column;
  background-color: $color-very-light-grey;
  box-sizing: border-box;
}
